html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font: 1.1em Times;
	color: white;
}

#logobox {

}

#logobox img {
	width: 60%;
	margin-left: 20%;
}

#content {
	border: 1px solid gray;
	margin-left: 14%;
	margin-right: 14%;
	width: 72%;
	padding-left: 2%;
	padding-right: 2%;
}

#navi {
	
}

.navi_button {
	cursor: pointer;
}

.navi_button a {
	cursor: pointer;
	color: white;
	font-size: 1.2em;
	background-image: url("/data/img/button.png");
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	width: 200px;
	height: 50px;
	text-decoration: none;
	text-align: center;
	padding-top: 14px;
}

.navi_button a:focus {
	color: black;
	background-image: url("/data/img/button_hover.png");
}

.navi_button a:hover {
	color: black;
	background-image: url("/data/img/button_hover.png");
}